body {
  margin: 0;
  padding: 0;
  background-color: #C5CCD3;
}

a {
  text-decoration: none;
}

/* Header */

div#header {
  background-color: #000000;
  color: white;
  font: bold 17px Helvetica;
  text-align: center;
  padding: 10px;
}

div#header h1 {
  display: inline;
  margin: 0;
  padding: 0;
  font: bold 17px Helvetica;
}

div#header a {
  color: #FFFFFF;
  font-weight: normal;
}

div#buttonLeft {
  float: left;
}

div#buttonRight {
  float: right;
}

/* List style edge-to-edge */

ul.edgeToEdge {
  list-style-type: none;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  font: bold 17px Helvetica;
}
ul.edgeToEdge li {
  position: relative;
  display: block;
  border-bottom: 1px solid #D9D9D9;
}
ul.edgeToEdge form {
  position: absolute;
  float: left;
  clear: both;
}
ul.edgeToEdge input {
  font: normal 17px Helvetica;
  width: 50px;
  -webkit-appearance: none;
  border: none;
  margin: 14px 10px;
  padding: 0px;
}
ul.edgeToEdge form + a {
  margin-left: 60px;
}
li a {
  display: block;
  padding: 14px 10px;
  color: black;
  text-decoration: none;
}

.edit {
  color: #CCC;
}

.inNote {
  color: #000;
}

.ticked {
  text-decoration: line-through;
  color: #CCC;
}

li a.delete {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 14px;
  padding: 5px;
  margin: 11px;
  -webkit-border-radius: 5px;
  background-color: red;
  color: white;
  float: right;
  display: none;
}
li .attribute {
  font-weight: normal;
}

/* User */
div#user {
  font: normal 10px Helvetica;
  text-align: center;
  padding: 5px;
}

/* Form */
.roundedRectangle {
  display: block;
  padding: 10px;
}
.roundedRectangle .formLabel {
  padding: 10px;
  font: bold 17px Helvetica;
  color: #4C566C;
}
.roundedRectangle form {
  background-color: #FFF;
  width: 100%;
  -webkit-border-radius: 8px;
}
.roundedRectangle .inputContainer {
  font: normal 17px Helvetica;
  padding: 10px;
  display: block;
}
.roundedRectangle input {
  font: normal 17px Helvetica;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  border: none;
  width: 100%;
}

.roundedRectangle a.delete {
  background-color: #F00;
  width: 100%;
  -webkit-border-radius: 8px;
  font: bold 17px Helvetica;
  color: #FFF;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.roundedRectangle a.delete span {
  display: block;
  padding: 10px;
}
