span.attribute {
  font-weight: normal;
}

div#content a.ticked {
  color: #ccc;
  text-decoration: line-through;
}

div#content a.edit {
  color: #ccc;
}

div#content a.inNote {
  color: #000;
}

div#content ul.edgetoedge a.delete {
  display: none;
}

div#footer {
  font-size: 12px;
  margin: 17px;
  text-align: center;
}

div#footer a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

div.thumbnail {
  text-align: center;
  margin: 17px 0;
}

img.thumbnail {
  border-radius: 8px;
}

div#content a.thumbnail {
  font-size: 12px;
  text-align: center;
}

span.details {
  font-weight: normal;
}
