body {
  padding: 0;
  margin: 0;
  font: 17px Helvetica;
}

a {
  text-decoration: none;
}

div#header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999), color-stop(50%,#333), color-stop(51%,#000), color-stop(100%,#666));
  background-color: #000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #333;
  border-right: 1px solid #666;
  border-left: 1px solid #666;
  color: #fff;
  overflow: hidden;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #333;
}

div#title {
  float: left;
  font-weight: bold;
}

div#button {
  float: right;
}

div#header a {
  padding: 14px 10px;
  display: block;
  color: #fff;
}

div#content a {
  font-size: 17px;
  padding: 14px 10px;
  color: #000;
  display: block;
}

ul.edgetoedge {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.edgetoedge li {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

ul.edgetoedge form {
  margin: 0px 10px;
  float: left;
}

ul.edgetoedge input {
  padding: 14px 0px;
  margin: 0;
  border: none;
  font: 17px Helvetica;
  -webkit-appearance: none;
}

ul.edgetoedge a {
  font-size: 17px;
  display: block;
}

div#content ul.edgetoedge a.button {
  float: right;
  padding: 7px;
  margin: 7px 10px;
  /*font-weight: normal;*/
  border-radius: 20px;
  background-color: #ccc;
}

ul.edgetoedge div {
  padding: 14px 10px;
  color: #000;
}

form.edgetoedge {
  margin: 0px 10px;
}

form.edgetoedge input {
  padding: 14px 0px;
  margin: 0;
  border: none;
  font: 17px Helvetica;
  -webkit-appearance: none;
  width: 100%;
}

div#content a.edgetoedge {
  overflow: hidden;
  text-align: center;
  border-radius: 20px;
  margin: 14px 10px;
  padding: 7px;
  font-weight: bold;
  background-color: #ccc;
}
