html {
  -webkit-text-size-adjust: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

a {
  font-size: 16px;
}

#menu {
  overflow: hidden;
  border-top: 1px solid #eee;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);

  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
  background: linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  
  position: relative;
  z-index: 400;
}

#menu a {
  float: left;
  color: #000;
  display: table-cell;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #fff;
}

#menu a + a {
  border-left: 1px solid #eee;
}

#header {
  padding: 0 16px;
  margin-bottom: 24px;
}

h1 {
  display: table-cell;
  font-size: 16px;
  padding: 8px 16px;
/*   background-color: #fff; */
  background-color: #363;
  color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  
  position: relative;
  z-index: 300;
}

h1 .date {
  font-weight: normal;
}

/* ---------- Note ---------- */
.row {
  border-bottom: 1px solid #ccc;
  clear: both;
  margin: 0 16px;
}

label {
  float: left;
  font-weight: bold;
  padding: 12px 0;
  width: 102px;
  text-align: right;
}

.field {
  margin-left: 110px;
}

.field input {
  width: 100%;
  padding: 6px 0;
  margin: 6px 0;
  border: none;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  background: transparent;
}

textarea {
  width: 100%;
  height: 140px;
  border: none;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 6px 0;
  padding: 6px 0;
  background: transparent;
}

#controls {
  overflow: hidden;
  margin: 24px 0;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  clear: both;
  
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
  background: linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
}

#controls .left {
  float: left;
  overflow: none;
}

#controls .right {
  float: right;
}

#controls a {
  text-shadow: 1px 1px 0px #fff;
  color: #363;
  display: table-cell;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
}

#controls a.delete {
  color: #ff3333;
}

#controls a.cancel {
  color: #999;
}

#controls a + a {
  border-left: 1px solid #eee;
}

input[type=submit] {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  font-weight: bold;
  border: none;
  margin: 0;
  padding: 12px 16px;
  background: transparent;
  text-shadow: 1px 1px 0px #fff;
  color: #363;
  display: table-cell;
  cursor: pointer;
}

ul#notes {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li.note {
  margin: 0;
  padding: 0;
  list-style-type: none;
  clear: both;
}

li.note + li.note {
  border-top: 1px solid #ccc;
}

div.responsible {
  font-weight: bold;
  font-size: 13px;
  padding: 0px 8px 8px 8px;
  margin-left: 46px;
  float: left;
}

div.dueDate {
  font-weight: bold;
  font-size: 13px;
  padding: 0px 16px 8px 8px;
  float: right;
}

div.overdue {
  color: #c03;
}

li.note a.check {
  font-size: 24px;
  color: #000;
  float: left;
  text-decoration: none;
  padding: 0px 8px 0px 16px;
}

li.note a.check:before {
  content: "\2610";
}

li.done a.check {
  color: #ccc;
}

li.done a.check:before {
  content: "\2611";
}

li.note a.content {
  margin-left: 46px;
  display: block;
  padding: 8px 16px 8px 8px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

li.done a.content {
  text-decoration: line-through;
  color: #999;
}

li.note p {
  margin: 0;
}

li.note em {
  font-weight: bold;
  font-style: normal;
}

li.note ul {
  list-style-type: disc;
  padding-left: 20px;
  padding-top: 8px;
}

li.done div {
  text-decoration: line-through;
  color: #999;
}

div + div.content a {
  padding-top: 0px;
}

ul.meetingGroups {
  margin: 0;
  padding: 0;
}

li.meetingGroup {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.meetings {
  padding: 0;
  margin: 0;
}

li.meeting {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.meeting + li.meeting {
  border-top: 1px solid #ccc;
}

li.meeting a {
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  color: #000;
  display: block;  
  font-size: 16px;
}

div.date {
  font-size: 13px;
  font-weight: bold;
  padding: 8px 16px;
  color: #363;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
}

li.meetings + li.date {
  border-top: 3px solid #ccc;
}

#footer {
  margin-top: 36px;
  clear: both;
  color: #363;
  text-align: center;
  font-size: 12px;
}

#footer a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #363;
  padding: 12px;
  margin-bottom: 24px;
  font-size: 12px;
}

/* ---------- Auto-complete ---------- */
ul.ui-autocomplete {
  list-style-type: none;
  border: 1px solid #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.ui-menu-item a {
  padding: 8px;
  display: block;
}

.ui-state-highlight a {
  font-weight: bold;
}
.ui-autocomplete { position: absolute; cursor: default; }   

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* ---------- Stripes error handling ---------- */
input.error {
  background-color: #ffff99;
}

textarea.error {
  background-color: #ffff99;
}