body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
/*  display: table-cell;*/
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

div#header {
  background-color: #000000;
  color: #FFFFFF;
  text-transform: uppercase;
  height: 42px;
}

div#header>div {
  width: 912px;
  margin: 0 auto;
}

div#header h1 {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
  float: left;
}

div#header ul {
  margin: 0;
  padding: 0;
  float: right;
  list-style-type: none;
}

div#header li {
  margin: 0;
  padding: 0;
  font-size: 12px;
  float: left;
}

div#header li.selected {
  font-weight: bold;
}

div#header a {
  margin: 8px;
  padding: 8px;
  display: table-cell;
  vertical-align: middle;
  color: #FFFFFF;
  height: 42px;
}

div#header a:hover {
  background-color: #333333;
}

div#content {
  width: 912px;
  margin: 0 auto;
  padding: 8px;
}

/* update message */
div#content div {
  margin-top: 8px;
  padding: 8px;
  background-color: #FFFFFF;
  font-size: 28px;
  font-weight: bold;
}

div.thumbnail {
  padding: 8px;
  width: 212px;
  height: 212px;
  float: left;
}

div.thumbnail img {
  border: 1px solid #DDDDDD;
}

div#footer {
  clear: both;
  padding: 8px 0;
  text-align: center;
  font-size: 10px;
  color: #BBBBBB;
  
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  
  background-color: #FFFFFF;
  /* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.6;
}

div#footer:hover {
  /* for IE */
  filter:alpha(opacity=1);
  /* CSS3 standard */
  opacity:1;
}

div#footer a {
  color: #BBBBBB;
  font-weight: bold;
}