body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	height: 100%;
	vertical-align: bottom;
}

a {
	text-decoration: none;
}

div#header {
	background-color: #000;
	color: #FFF;
	text-transform: uppercase;
	height: 42px;
	display: block;
}

div#header>div {
	width: 912px;
	margin: 0 auto;
}

div#header h1 {
	margin: 0;
	font-weight: normal;
	font-size: 20px;
	float: left;
}

div#header ul {
	margin: 0;
	padding: 0;
	float: right;
	list-style-type: none;
}

div#header li {
	margin: 0;
	padding: 0;
	font-size: 12px;
	float: left;
}

div#header li.selected {
	font-weight: bold;
}

div#header a {
	margin: 8px;
	padding: 8px;
	display: table-cell;
	vertical-align: middle;
	color: #FFF;
	height: 42px;
}

div#header a:hover {
	background-color: #333;
}

div#albums {
	background-color: #FFF;
	padding: 8px;
}

div#albums ul {
	text-align: justify;
	list-style-type: none;
	width: 912px;
	margin: 0 auto;
	padding: 0;
}

div#albums li {
	display: inline;
}

div#albums a {
	padding: 8px;
	color: #000;
	text-transform: uppercase;
	font-size: 12px;
}
div#albums a.selected {
	font-weight: bold;
}

div#albums a:hover {
	background-color: #CCC;
}

div#photos {
  list-style-type: none;
  width: 912px;
  margin: 0 auto;
  padding: 0;
}

div#photos img {
  border: 1px solid #CCC;
  margin: 8;
  padding: 8;
}

div#photos img:hover {
  background-color: #CCC;
}

div#footer {
	clear: both;
	padding: 8px 0;
	text-align: center;
	font-size: 10px;
	color: #333;
	position: fixed;
	bottom: 0px;
	width: 100%;
	vertical-align: middle;
}

div#footer:hover {
	background-color: #FFF;
}

div#footer a {
	color: #333;
	font-size: 10px;
	font-weight: bold;
}